body {
  margin:0px;
  background-image:none;
  background-color:#f4f0ea;
  position:static;
  left:auto;
  width:800px;
  height:auto;
  min-height:1132px;
  margin-left:0;
  margin-right:0;
  text-align:left;
  overflow-y:visible;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
  width:800px;
  min-height:1132px;
}
